body {
    font-family: 'BioRhyme', serif;
    background-color: #A7C7E7;
    
    text-align: center;
    margin: 0 auto;
    max-width 600px;
    padding: 0;
}
h1{
    font-family: 'Nosifer', sans-serif;
    font-size: 40px;
    color: #FF2400;
}
button{
    font-family: 'BioRhyme', serif;
}
span {
    font-size: 18px;
    font-style: bold;
    color: red;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff72;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#birthdayMessage {
    margin-bottom: 20px;
}

#openLetter {
    background-color: #191970;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

#openLetter:hover {
    background-color: #191970;
}

#letter {
    display: none;
}

.letter-header, .letter-footer {
    background-color: #191970;
    font-family: 'BioRhyme', serif ;
    color: white;
    padding: 6px;
}

.letter-content {
    padding: 20px;
    line-height: 1.6;
}
